<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{id}}</h5>
    <p class="card-text">{{category_name}}</p>
    <a href="/category/{{id}}">hi<a>
  </div>
</div>

