<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Time Of Day
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Morning</a>
            <a class="dropdown-item" href="#">Mid-Day</a>
            <a class="dropdown-item" href="#">Nighttime</a>
        </div>
    </div>
    <select class="custom-select">
        <option selected>Day of the Week</option>
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
        <option value="7">Sunday</option>
    </select>
  </div>
</div>

