<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-image: url("/wp9242253-relaxing-spa-wallpapers.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
 <div style=" margin: 10px; padding: 5%; display:flex; align-items: center;  flex-direction: column;">
  {{#each categories as |category|}}
  {{> category-partials}}
  {{/each}}
</div> 

</div>
</body>
</html> 


