<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-image: url("/wp9242253-relaxing-spa-wallpapers.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
<div class="card " style="height: 18rem;">
  <div class="card-body">
    <div class="card"style="width: 5rem;">
      <div class="card-body">
        Morning
      </div>
    </div>

  </div>
</div>
<div class="card " style="height: 18rem;">
  <div class="card-body">
    <div class="card"style="width: 5rem;">
      <div class="card-body">
        Mid-Day
      </div>
    </div>

  </div>
</div>
<div class="card " style="height: 18rem;">
  <div class="card-body">
    <div class="card"style="width: 6rem;">
      <div class="card-body">
        Nighttime
      </div>
    </div>

  </div>
</div>
</body>
</html>

<!--
{{#each user.habitschedule as |habit|}}
{{> day-partials}}
{{/each}}
-->

