<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-image: url("/wp9242253-relaxing-spa-wallpapers.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
<div class="card m-5" style="height: 18rem;">
  <div class="card-body">

  </div>
</div>
<div class="card m-5" style="height: 18rem;">
  <div class="card-body">
    
  </div>
</div>
<div class="card m-5" style="height: 18rem;">
  <div class="card-body">
    
  </div>
</div>
</body>
</html>