<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-image: url("/wp9242253-relaxing-spa-wallpapers.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>

{{#each category.habits as |habit|}}
{{> habit-partials}}
{{/each}}

</div>
</body>
</html>



