<!DOCTYPE html>
<html>
<head>
    <style>
        body {
      background-image: url("/pexels-pixabay-289586.jpg");
      background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
  <div class="textbox" style="height: 4rem;"></div>
  <div class="text-body"></div>
</head>
<main>
    <div class="row">
            <div class="side">
              <h2>Why track your habits?</h2>
              <p><strong>&nbsp &nbspPositive habit tracking is a very powerful tool that can help people who have insanely busy lives find 
                a path toward the level of health and wellness they want to reach!</strong></p>
              <p><strong>&nbsp &nbspThis application is designed to help people track and maintain good life choices.</strong></p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <p><strong>&nbsp &nbspTracking these choices helps maintain a solid course towards feeling more energetic, avoiding weight 
                gain, exercise, eating better, and managing mental stressors by forming good habits!</strong></p>
            </div>
    </div>
    
</main>
</html>